{% extends 'base.html' %}

{% block content %}

    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Sales Report</h1>
                    <p class="lead fw-normal text-muted mb-0">Qlick Sense - Dashboard</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <iframe src="https://sfud6hjk3pf4m2j.us.qlikcloud.com/single/?appid=70a7aee7-e53e-4a9b-873e-3256717a6297&sheet=cf4933d7-2763-4370-bef0-90e316691664&theme=horizon&opt=ctxmenu,currsel" style="border:none;width:100%;height:100%;"></iframe>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}