{% extends 'base.html' %}

{% block content %}

    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Dashboard Financeiro</h1>
                    <p class="lead fw-normal text-muted mb-0">Desafio de projeto - DIO</p>
                </div>
                <div class="row gx-5 justify-content-center">

                    <iframe title="Report Section" width="1024" height="704" src="https://app.powerbi.com/view?r=eyJrIjoiMjJhYmEwZWQtOTFjNC00NjNmLWJlYTctMDZlMDFjYjE0NDY5IiwidCI6ImFlZmFkM2YxLWJiYzAtNDZhYi04NTk5LWI2Mjg4NzczYjQ3YiJ9" frameborder="0" allowFullScreen="true"></iframe>

                </div>
            </div>
        </div>
    </section>

{% endblock %}