{% extends 'base.html' %}
{% block content %}

<header class="page-header-ui page-header-ui-light bg-white" id="home">
    <div class="page-header-ui-content pt-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                    <h1 class="page-header-ui-title">Conduzindo a Inovação por Meio da Ciência de Dados</h1>
                    <p class="page-header-ui-text mb-5">Explore meu portfólio e veja como a inovação é alimentada por análises de dados sólidas, impulsionando o crescimento e a eficiência operacional.</p>
                    <div class="d-flex flex-column flex-sm-row">
                        <a class="btn btn-lg btn-primary fw-500 me-sm-3 mb-3 mb-sm-0" href="#projects">
                            Projetos
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ms-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                        <a class="btn btn-lg btn-primary-soft text-primary fw-500" href="#resume">Sobre Mim</a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="../static/assets/home-img.jpg" alt="..."></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>

<!-- SESSAO CURRICULO -->
<section class="page-section" id="resume">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre Mim</h2>
            <h3 class="section-subheading text-muted">Linha do tempo da minha carreira profissional.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2017 - 2018</h4>
                        <h4 class="subheading">O Começo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Iniciei minha carreira como estagiário na Caixa Econômica Federal, onde, de maneira indireta, tive meu primeiro contato com programação através do meu superior. Esta experiência proporcionou-me uma sólida base nos processos bancários e financeiros.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019 - 2020</h4>
                        <h4 class="subheading">Descoberta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Ao concluir meu estágio na Caixa, busquei expandir meus conhecimentos financeiros e iniciar minha jornada acadêmica. Neste período, atuei como analista fiscal, aprofundando-me em conhecimentos financeiros e tendo meu primeiro contato com Excel e banco de dados. Foi uma fase crucial para minha interação inicial com dados.</p>
                    </div>
                </div>
            </li>
            <li class="timeline">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2023 - 2024</h4>
                        <h4 class="subheading">Aprimoramento</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Durante meu último ano da faculdade, tive o privilégio de realizar um estágio na escola Nova Didata, aplicando conceitos de Ciência de Dados a um contexto de negócios tangível. Esta experiência solidificou meu entendimento prático e proporcionou uma visão concreta sobre a aplicação da ciência de dados.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2024</h4>
                        <h4 class="subheading">Encerrando um Ciclo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Com a conclusão da graduação em Ciência de Dados pela Unifran em 2023, encerro um ciclo acadêmico significativo. Agora, estou ansioso para aplicar de forma prática os conhecimentos adquiridos e embarcar em uma nova jornada profissional, contribuindo para desafios emocionantes e oportunidades de crescimento.</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Próximo</h4>
                        <h4 class="subheading">Em Busca de Novos Desafios</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Atualmente, estou em busca de uma nova oportunidade profissional onde possa aplicar e expandir meus conhecimentos em Ciência de Dados. Estou entusiasmado para contribuir com minha experiência e habilidades em um ambiente desafiador e inovador. Juntos, podemos explorar novas possibilidades e impulsionar o sucesso mútuo.</p>
                    </div>
                </div>
            </li>   
            </ul>
            </div>
            </section>

<div class="svg-border-rounded text-white">
    <!-- Rounded SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
        <!-- Ajustei os valores no path para alterar a curvatura vertical -->
        <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
    </svg>
</div>

<!-- SESSAO PROJETOS  -->
<section class="bg-white py-0" id="projects">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <h2 class="section-heading text-uppercase mb-5">Projetos</h2>
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">3 Demos!</div>
                    <h2>Dashboards</h2>
                    <p class="lead">Dashboards financeiros feitos sob demanda</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Sales Report (Power BI)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="javascript:void(0);" onclick="openDashboardModal('dashboard1')">
                    <img class="img-fluid rounded-3" src="../static/assets/dio01.png">
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Crypto Dashboard (Power BI)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="javascript:void(0);" onclick="openDashboardModal('dashboard2')">
                    <img class="img-fluid rounded-3" src="../static/assets/dio02.png">
                </a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>

<section class="bg-light py-0">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">2 Demos!</div>
                    <h2>Ciência de Dados</h2>
                    <p class="lead">Projetos de ciência de dados aplicado a negócios</p>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Heart Attack Detection</h6>
                <a class="d-block rounded-3 lift lift-lg" href="https://github.com/rickluizms/heart-attack-detection"><img class="img-fluid rounded-3" src="../static/assets/heart-attack-detection.png"></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Pipeline ETL com Airflow (Em Breve)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="https://github.com/rickluizms/price-minner-airflow"><img class="img-fluid rounded-3" src="../static/assets/price-minner-etl.png"></a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>

<section class="bg-white py-0">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">2 Demos!</div>
                    <h2>Outros Projetos</h2>
                    <p class="lead">Projetos Diversos</p>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Sistema Web - Moreira Car (Django) (Em Breve)</h6>
                <a class="d-block rounded-3 lift lift-lg" data-bs-toggle="modal" data-bs-target="#mcsoftModal"><img class="img-fluid rounded-3" src="../static/assets/mcsoft.png"></a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>

<section class="bg-light py-5" id="contact">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Contato</span></h2>
                    <p class="lead fw-light mb-4">Me encontre nas redes sociais</p>
                    <p class="text-muted"></p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="https://wa.me/5535992054006"><i class="bi bi-whatsapp"></i></a>
                        <a class="text-gradient" href="https://www.linkedin.com/in/rickluizms"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/rickluizms"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
  <!-- Modal Dashboards -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Dashboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Dashboard Financeiro</h1>
                    <p class="lead fw-normal text-muted mb-0">Desafio de projeto - DIO</p>
                </div>
                <div class="row gx-5 justify-content-center">

                    <iframe title="Report Section" id="dashboardIframe" width="1024" height="704" src="" frameborder="0" allowFullScreen="true"></iframe>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Mcsoft -->
  <div class="modal fade" id="mcsoftModal" tabindex="-1" aria-labelledby="emcsoftModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="mcsoftModalLabel">Dashboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Mcsoft - Mobile First</h1>
                    <p class="lead fw-normal text-muted mb-0">Aplicativo Web de Gestão Empresarial</p>
                </div>
                <div class="row gx-5 justify-content-center">

                    <img src="../static/assets/mcsoft.png" alt="">

                    <p class="mt-5">Esse aplicativo se propões a resolver o problema de coleta de dados eficiente na empresa, para a implantação futura de soluções utilizando analise de dados e projeções</p>
                    <p>Com essa aplicação, o cliente pode registrar os dados da sua empresa, com um sistema feito sob demanda. Facilitando a etapa de extração e analise de dados</p>
                    <p>O template do projeto é projetado em Mobile First, para se adaptar ao dia dia do cliente.</p>
                    <span>Pré visualização em breve!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <script>
    function openDashboardModal(projectId) {
        var iframe = document.getElementById('dashboardIframe');

        // Mapeie os identificadores dos projetos para os URLs correspondentes
        var projectUrls = {
            'dashboard1': 'https://app.powerbi.com/view?r=eyJrIjoiMjJhYmEwZWQtOTFjNC00NjNmLWJlYTctMDZlMDFjYjE0NDY5IiwidCI6ImFlZmFkM2YxLWJiYzAtNDZhYi04NTk5LWI2Mjg4NzczYjQ3YiJ9',
            'dashboard2': 'https://app.powerbi.com/view?r=eyJrIjoiYWU2NjNkN2ItZmJkMS00NWFmLWEzNWQtODEyNTgzZjczZjYyIiwidCI6ImFlZmFkM2YxLWJiYzAtNDZhYi04NTk5LWI2Mjg4NzczYjQ3YiJ9',
            'dashboard3': '',
            'dashboard4': '',
            'dashboard5': '',
            'dashboard6': '',
        };

        // Verifique se há um URL correspondente para o projeto
        if (projectUrls.hasOwnProperty(projectId)) {
            // Atualize dinamicamente o atributo src do iframe com o URL do projeto
            iframe.src = projectUrls[projectId];

            // Abra o modal
            $('#exampleModal').modal('show');
        } else {
            // Caso o identificador do projeto não seja encontrado, você pode lidar com isso conforme necessário
            console.error('URL do projeto não encontrado para o identificador:', projectId);
        }
    }
</script>


{% endblock %}