{% extends 'base.html' %}
{% block content %}

<header class="page-header-ui page-header-ui-light bg-white" id="home">
    <div class="page-header-ui-content pt-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                    <h1 class="page-header-ui-title">Olá, eu sou o Luiz.</h1>
                    <h1 class="page-header-ui-title">Sou um Cientista de Dados.</h1>
                    <p class="page-header-ui-text">Eu extraio, processo e analiso dados para obter insights acionáveis para organizações e empresas de diversas areas.</p>

                    <div class="d-flex justify-content-center fs-2 gap-4 mb-3">
                        <a class="text-gradient" href="https://wa.me/5535992054006"><i class="bi bi-whatsapp"></i></a>
                        <a class="text-gradient" href="https://www.linkedin.com/in/rickluizms"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/rickluizms"><i class="bi bi-github"></i></a>
                    </div>

                    <div class="d-flex flex-column flex-sm-row">
                        <a class="btn btn-lg btn-primary fw-500 me-sm-3 mb-3 mb-sm-0" href="#projects">
                            Projetos
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ms-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                        <a class="btn btn-lg btn-primary-soft text-primary fw-500" href="#resume">Sobre Mim</a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="../static/assets/home-img.jpg" alt="..."></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>

 <!--Consent Mode-->
 <div class="cookies-card position-fixed bottom-0 end-0 p-3 m-5" style="display: none;" id="cookies-card">
   <p class="cookie-heading">Respeitamos sua Privacidade</p>
   <p class="cookie-para">
       Nós utilizamos os cookies para analisar tráfico e gerar dados estatísticos.
   </p>
   <div class="button-wrapper">
     <button class="accept cookie-button" onclick="acceptCookies()">Aceitar</button>
     <button class="reject cookie-button" onclick="rejectCookies()">Rejeitar</button>
   </div>
 </div>

<!-- SESSAO CURRICULO -->
<section class="page-section" id="resume">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre Mim</h2>
        </div>

        <div class="text-start my-5">
            <h4 class="section-heading text-uppercase">Certificações</h4>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Ciência de Dados com Python</h5>
                        <h6>2023 - 2023</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Santander Bootcamp 2023, Digital Innovation One</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Superior de Tecnologia em Ciência de Dados</h5>
                        <h6>2022 - 2024</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Universidade de Franca - UNIFRAN</p>
                    </div>
                </div>
            </li> 
        </ul>

        <div class="text-start my-5">
            <h4 class="section-heading text-uppercase">Experiências Profissionais</h4>
        </div>

        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Auxiliar Administrativo</h5>
                        <h6>2022 - 2023</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Nova Didata</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Auxiliar Fiscal</h5>
                        <h6>2019</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Universidade de Franca - UNIFRAN</p>
                    </div>
                </div>
            </li>
            <li class="timeline">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Estagiário</h5>
                        <h6>2017 - 2018</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Caixa Economica Federal</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>

<div class="svg-border-rounded text-white">
    <!-- Rounded SVG Border-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
        <!-- Ajustei os valores no path para alterar a curvatura vertical -->
        <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
    </svg>
</div>

<!-- SESSAO PROJETOS  -->
<section class="bg-white py-0" id="projects">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h2 class="section-heading text-uppercase mb-3">Projetos</h2>
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">2 Demos!</div>
                    <h2>Dashboards</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Sales Report (Power BI)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="javascript:void(0);" onclick="openDashboardModal('dashboard1')">
                    <img class="img-fluid rounded-3" src="../static/assets/dio01.png">
                </a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Crypto Dashboard (Power BI)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="javascript:void(0);" onclick="openDashboardModal('dashboard2')">
                    <img class="img-fluid rounded-3" src="../static/assets/dio02.png">
                </a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>

<section class="bg-light py-0">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">2 Demos!</div>
                    <h2>Ciência de Dados</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Heart Attack Detection</h6>
                <a class="d-block rounded-3 lift lift-lg" href="https://github.com/rickluizms/heart-attack-detection"><img class="img-fluid rounded-3" src="../static/assets/heart-attack-detection.png"></a>
            </div>
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Pipeline ETL com Airflow (Em Breve)</h6>
                <a class="d-block rounded-3 lift lift-lg" href="https://github.com/rickluizms/price-miner"><img class="img-fluid rounded-3" src="../static/assets/price-minner-etl.png"></a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <!-- Ajustei os valores no path para alterar a curvatura vertical -->
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>

<!--  
<section class="bg-white py-0">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">1 Demos!</div>
                    <h2>Front-End</h2>
                    <p class="lead">Projetos Diversos</p>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Sistema Web - Moreira Car (Django) (Em Breve)</h6>
                <a class="d-block rounded-3 lift lift-lg" data-bs-toggle="modal" data-bs-target="#mcsoftModal"><img class="img-fluid rounded-3" src="../static/assets/mcsoft.png"></a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            
            <path d="M144.54,17.34H0V0H144.54ZM0,0S20,6,70.27,6,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>
-->

<section class="bg-white py-5" id="contact">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-3">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Contato</span></h2>
                    <p class="lead fw-light mb-4">Me encontre nas redes sociais</p>
                    <p class="text-muted"></p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="https://wa.me/5535992054006"><i class="bi bi-whatsapp"></i></a>
                        <a class="text-gradient" href="https://www.linkedin.com/in/rickluizms"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/rickluizms"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
  <!-- Modal Dashboards -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Dashboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="bg-light rounded-4 py-2 px-2">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Dashboard Financeiro</h1>
                    <p class="lead fw-normal text-muted mb-0">Desafio de projeto - DIO</p>
                </div>
                <div class="row justify-content-center px-3 mb-3">
                    <div class="iframe-container">
                        <iframe title="Report Section" id="dashboardIframe" src="" frameborder="0" allowfullscreen="true" class="bg-light"></iframe>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Mcsoft -->
  <div class="modal fade" id="mcsoftModal" tabindex="-1" aria-labelledby="emcsoftModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="mcsoftModalLabel">Dashboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Mcsoft - Mobile First</h1>
                    <p class="lead fw-normal text-muted mb-0">Aplicativo Web de Gestão Empresarial</p>
                </div>
                <div class="row gx-5 justify-content-center">

                    <img src="../static/assets/mcsoft.png" alt="">

                    <p class="mt-5">Esse aplicativo se propões a resolver o problema de coleta de dados eficiente na empresa, para a implantação futura de soluções utilizando analise de dados e projeções</p>
                    <p>Com essa aplicação, o cliente pode registrar os dados da sua empresa, com um sistema feito sob demanda. Facilitando a etapa de extração e analise de dados</p>
                    <p>O template do projeto é projetado em Mobile First, para se adaptar ao dia dia do cliente.</p>
                    <span>Pré visualização em breve!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!--Cookie Consent-->
  <script>

    function loadTag() {
        function gtag() { dataLayer.push(arguments); }
        gtag('consent', 'update', {
            ad_user_data: 'granted',
            ad_personalization: 'granted',
            ad_storage: 'granted',
            analytics_storage: 'granted'
        });
        // Load gtag.js script.
        var gtagScript = document.createElement('script');
        gtagScript.async = true;
        gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-G9XP8EQ981';

        var firstScript = document.getElementsByTagName('script')[0];
        firstScript.parentNode.insertBefore(gtagScript,firstScript);
    }

    $(document).ready(function () {
        if (!localStorage.getItem("consentGranted")) {
            $('#cookies-card').fadeIn();
        } else {
            loadTag()
            }
    });

    function acceptCookies() {
        localStorage.setItem("consentGranted", "true");
        loadTag()
        $('#cookies-card').fadeOut();
    }
    function rejectCookies() {
        $('#cookies-card').fadeOut();
    }
  </script>

  <script>
    function openDashboardModal(projectId) {
        var iframe = document.getElementById('dashboardIframe');

        // Mapeie os identificadores dos projetos para os URLs correspondentes
        var projectUrls = {
            'dashboard1': 'https://app.powerbi.com/view?r=eyJrIjoiOTE4YmRlZjQtYjU2Ni00ZmMyLTliMDctY2Q3NDI2ODhjYWQ5IiwidCI6ImFlZmFkM2YxLWJiYzAtNDZhYi04NTk5LWI2Mjg4NzczYjQ3YiJ9',
            'dashboard2': 'https://app.powerbi.com/view?r=eyJrIjoiYWU2NjNkN2ItZmJkMS00NWFmLWEzNWQtODEyNTgzZjczZjYyIiwidCI6ImFlZmFkM2YxLWJiYzAtNDZhYi04NTk5LWI2Mjg4NzczYjQ3YiJ9',
            'dashboard3': '',
            'dashboard4': '',
            'dashboard5': '',
            'dashboard6': '',
        };

        // Verifique se há um URL correspondente para o projeto
        if (projectUrls.hasOwnProperty(projectId)) {
            // Atualize dinamicamente o atributo src do iframe com o URL do projeto
            iframe.src = projectUrls[projectId];

            // Abra o modal
            $('#exampleModal').modal('show');
        } else {
            // Caso o identificador do projeto não seja encontrado, você pode lidar com isso conforme necessário
            console.error('URL do projeto não encontrado para o identificador:', projectId);
        }
    }
</script>


{% endblock %}