{% extends 'base.html' %}

{% block content %}

    <!-- Projects Header-->

    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
            </div>
        </div>
    </section>

    <!-- Projects Section-->

    <section class="bg-light py-10">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-10">
                        <h4>Dashboards</h4>
                        <p class="text-muted">Criação de dashboards analiticos personalizados!</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row gx-5 text-center">
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 1 - Basic </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-basic.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic.png"></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 2 - Basic (Signup) </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-basic-signup.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-basic-signup.png"></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 3 - Graphic </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-graphic.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic.png"></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 4 - Graphic (Signup) </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-graphic-signup.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-graphic-signup.png"></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 5 - Inner Page </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-inner-page.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-inner-page.png"></a>
                </div>
                <div class="col-lg-4 mb-5">
                    <h6 class="mb-3"><strong> Demo 6 - Nav Only </strong></h6>
                    <a class="d-block rounded-3 lift lift-lg" href="header-nav-only.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/header-nav-only.png"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
            </div>

            <div class="row gx-5 justify-content-center">   

                <div class="row gx-5 text-center">
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 1 - Multipurpose</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-multipurpose.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-multipurpose.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 2 - Mobile App</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-app-mobile.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-mobile.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 3 - Desktop App</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-app-desktop.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-app-desktop.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 4 - Agency</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-agency.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-agency.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 5 - Lead Capture</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-lead-capture.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-lead-capture.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 6 - Press</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-press.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-press.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 7 - Directory</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-directory.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-directory.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 8 - Rental</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-rental.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-rental.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 9 - Real Estate</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-real-estate.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-real-estate.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 10 - Classifieds</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-classifieds.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-classifieds.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 11 - Resume</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-resume.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-resume.png"></a>
                    </div>
                    <div class="col-lg-4 mb-5" id="project-card">
                        <h6 class="mb-3">Demo 12 - Portfolio</h6>
                        <a class="d-block rounded-3 lift lift-lg" href="landing-portfolio.html"><img class="img-fluid rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png"></a>
                    </div>
                </div>

                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    
                    <!-- Carosel bootstrap - Dashboards-->
                    <h2 class="fw-bolder"> Dashboards </h2>
                    <div id="carouselExample" class="carousel carousel-dark slide">
                        <div class="carousel-inner m-4">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard1">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio01.png" alt="">
                                                <div class="category"> Desafio de Projeto 1 - DIO </div>
                                                <div class="heading"> Dashboard Financeiro com Power Bi
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="/projects/dashboard2">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio02.png" alt="">
                                                <div class="category"> Desafio de Projeto 2 - DIO </div>
                                                <div class="heading"> Transformação de Dados e Dashboard com Power Bi
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard3">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/didata-dashboard-n3.png" alt="">
                                                <div class="category"> Dashboard - Nova Didata </div>
                                                <div class="heading"> Dashboard Analítico do Financeiro e Pedagógico
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <br>
                    
                    <!-- Carosel bootstrap - Data Science -->
                    <h2 class="fw-bolder"> Data Science </h2>
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner m-4">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard1">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio01.png" alt="">
                                                <div class="category"> Web Scraping EAD - Nova Didata </div>
                                                <div class="heading"> Raspagem de Dados de Plataforma Online
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="/projects/dashboard2">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio02.png" alt="">
                                                <div class="category"> Web Scraping - UserNine </div>
                                                <div class="heading"> Raspagem de Dados e automação em páginas web.
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard3">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/didata-dashboard-n3.png" alt="">
                                                <div class="category"> Pipeline de Dados + ChatGPT - DIO </div>
                                                <div class="heading"> Pipeline de dados com Python e API do ChatGPT
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Web Scraping Service - UserNine </div>
                                            <div class="heading"> API Rest com Flask para controlar o serviço de web scraping
                                                <div class="author"> By <span class="name">Rickluizms</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Machine Learning - UserNine </div>
                                            <div class="heading"> Aplicativo de análise preditiva
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Machine Learning - UserNine </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Analise Preditiva - UserNine </div>
                                            <div class="heading"> Projeto de Analise Preditiva
                                                <div class="author"> By <span class="name">Rickluizms</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Análise Descritiva - UserNine </div>
                                            <div class="heading"> Projeto de Análise Descritiva
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Análise de Agrupamento (Clusterização) - UserNine </div>
                                            <div class="heading"> Projeto de Analise de Agrupamento (Weka Experiments) - *Criar automação
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Analise Preditiva - UserNine </div>
                                            <div class="heading"> API Rest com Flask para controlar o serviço de web scraping
                                                <div class="author"> By <span class="name">Rickluizms</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Análise Descritiva - UserNine </div>
                                            <div class="heading"> Aplicativo de análise preditiva
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Análise de Agrupamento (Clusterização) - UserNine </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <br>

                    <!-- Carosel bootstrap - Back-End -->
                    <h2 class="fw-bolder"> Back-End </h2>
                    <div id="carouselExample" class="carousel carousel-dark slide">
                        <div class="carousel-inner m-4">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/projects/backend1">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/mcsoft.png" alt="">
                                                <div class="category"> McSoft - Moreira Car </div>
                                                <div class="heading"> Dashboard Completo em Excel com VBA
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="/projects/backend2">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio02.png" alt="">
                                                <div class="category"> Didata Docs Service - Nova Didata </div>
                                                <div class="heading"> Geração de Documentos por API REST
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/projects/backend3">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/didata-dashboard-n3.png" alt="">
                                                <div class="category"> Cookies Service - UserNine </div>
                                                <div class="heading"> Servico para gerenciar cookies de marketing
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Disc Service - UserNine </div>
                                            <div class="heading"> API de Formulário de Correção de Teste DISC
                                                <div class="author"> By <span class="name">Rickluizms</span</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Illustration </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Illustration </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <br>

                    <!-- Carosel bootstrap - Front-End -->
                    <h2 class="fw-bolder"> Front-End </h2>
                    <div id="carouselExample" class="carousel carousel-dark slide">
                        <div class="carousel-inner m-4">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard1">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio01.png" alt="">
                                                <div class="category"> Desafio de Projeto 1 - DIO </div>
                                                <div class="heading"> Dashboard Financeiro com Power Bi
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-4">
                                        <a href="/projects/dashboard2">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/dio02.png" alt="">
                                                <div class="category"> Desafio de Projeto 2 - DIO </div>
                                                <div class="heading"> Transformação de Dados e Dashboard com Power Bi
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/projects/dashboard3">
                                            <div class="card-project">
                                                <img class="card-image" src="../static/assets/didata-dashboard-n3.png" alt="">
                                                <div class="category"> Dashboard - Nova Didata </div>
                                                <div class="heading"> Dashboard Analítico do Financeiro e Pedagógico
                                                    <div class="author"> By <span class="name">Rickluizms</span></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Illustration </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Illustration </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-project">
                                            <div class="card-image"></div>
                                            <div class="category"> Illustration </div>
                                            <div class="heading"> A heading that must span over two lines
                                                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <!-- Project Card 0-->
                    <a href="/projects/dashboard">
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder" id="card-title">Dashboard Power BI - Desafio de Projeto DIO</h2>
                                        <p>Este painel utiliza dados de amostra da internet para criar um relatório e análise de dados dinâmica. Com gráficos interativos e insights valiosos, o projeto demonstra a capacidade de utilizar o Power BI para transformar dados em informações acionáveis.</p>
                                    </div>
                                    <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Micro Sistema VBA - McSoft</h2>
                                    <p>O McSoft é um micro sistema baseado no Excel com VBA. Ele simplifica o gerenciamento financeiro, oferece análises de dados avançadas e facilita a tomada de decisões informadas para pequenas empresas.</p>
                                </div>
                                <img class="img-fluid" src="../static/assets/mcsoft.png" alt="..." style="max-width: 300px; max-height: 400px;" />

                            </div>
                        </div>
                    </div>

                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Web App - Didata Docs</h2>
                                    <p>Web App - Didata Docs é o Front-End que se integra ao Didata Docs Service, proporcionando uma interface amigável para os usuários acessarem e utilizarem o serviço de geração de documentos sem a necessidade de desenvolver um cliente para a API. Desenvolvido com Python no framework Django, esse aplicativo torna a criação de documentos simples e acessível.</p>
                                </div>
                                <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                            </div>
                        </div>
                    </div>

                    <!-- Project Card 3-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">API Services - Didata Docs Service</h2>
                                    <p>API Services - Didata Docs Service é uma API versátil e personalizada que gera documentos, como certificados, cartas e termos de responsabilidade, de acordo com as solicitações do usuário. Integrada ao banco de dados da empresa, especialmente escolas, esta solução garante a criação eficiente e precisa de documentos para atender às necessidades da organização contratante.</p>
                                </div>
                                <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                            </div>
                        </div>
                    </div>

                    <!-- Project Card 4-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">API Services - UserNine Cookies Service</h2>
                                    <p>API Services - Didata Cookies Service é uma API REST robusta desenvolvida em Java 17 e Spring Boot. Com recursos de CRUD, DTO e segurança aprimorada com tokens JWT, essa solução oferece um serviço confiável e escalável para gerenciar dados de cookies de forma eficiente.</p>
                                </div>
                                <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                            </div>
                        </div>
                    </div>

                    <!-- Project Card 5-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">API Services - UserNine Disc Service</h2>
                                    <p>API Services - Didata Disc Service é uma API altamente funcional que se destina à geração e correção de formulários de perfil DISC, fornecendo resultados precisos de testes de personalidade. Amplamente adotado pelo setor de Recursos Humanos, este serviço simplifica a análise de perfis de funcionários, facilitando a identificação de características de personalidade.</p>
                                </div>
                                <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                            </div>
                        </div>
                    </div>
                    
                    <!-- Project Card 6-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">Web Scraping - Didata Data Scraping</h2>
                                    <p>Serviço web desenvolvido com Python 3.9 e Selenium para atualizar o banco de dados com os dados raspados na plataforma da empresa. O bot automatiza processos repetitivos e extrai informações uteis para planilhas, autmentando a produtividade da equipe.</p>
                                </div>
                                <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                            </div>
                        </div>
                    </div>


                    




                </div>
            </div>
        </div>
    </section>

    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Vamos trabalhar juntos</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://wa.me/5535992054006">Contato</a>
            </div>
        </div>
    </section>

    


{% endblock %}